<!DOCTYPE html>

<html>

<head>
    <title> Application Process </title>
</head>

<body>
    <form action="/mentors" method="POST">
        <input type="submit" value="Mentors and schools page">
    </form>

    <form action="/all-school" method="POST">
        <input type="submit" value="All school page">
    </form>

    <form action="/mentors-by-country" method="POST">
        <input type="submit" value="Mentors by country page">
    </form>

    <form action="contacts" method="POST">
        <input type="submit" value="Contacts page">
    </form>

    <form action="applicants" method="POST">
        <input type="submit" value="Applicants page">
    </form>

    <form action="applicants-and-mentors" method="POST">
        <input type="submit" value="Applicants and mentors page">
    </form>

</body>

</html>